@model Easy_Chef.Models.DB.Recipe

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container --margintop16 deleterecipe">
    <h2>Delete Recipe: This will delete the item permanently</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RecipeName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RecipeName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrepTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrepTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DifficultyLevel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DifficultyLevel)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SpiceLevel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SpiceLevel)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsVeg)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsVeg)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image1)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Image1)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Image2)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image3)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Image3)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CookLimit)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CookLimit)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ShortDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LongDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LongDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NutritionValue)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NutritionValue)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BoxContent)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BoxContent)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ChefName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ChefName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cuisine)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cuisine.CuisineName)
            </dd>
        </dl>
        <div class="row --margintop16 --marginbottom8">
            <form class="mx-auto" asp-action="Delete">
                <input type="hidden" asp-for="RecipeId" />
                <a class="btn btn-warning" asp-action="Index">Back to List</a>
                <input type="submit" value="Delete" class="btn btn-primary" />
            </form>
        </div>
        <script>
        //for setting nav active
        EasyChef.Utility.setNavActive("adminnav");
        </script>
    </div>
</div>
