@model Easy_Chef.Models.DB.Recipe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container --margintop16 recipedetail">
    <h2> Recipe Details</h2>

    <div class="container">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RecipeName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RecipeName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrepTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrepTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DifficultyLevel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DifficultyLevel)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SpiceLevel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SpiceLevel)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsVeg)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsVeg)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image1)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Image1)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Image2)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image3)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Image3)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CookLimit)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CookLimit)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ShortDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LongDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LongDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NutritionValue)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NutritionValue)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BoxContent)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BoxContent)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ChefName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ChefName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cuisine)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cuisine.CuisineName)
            </dd>
        </dl>
    </div>
    <div class="row --margintop16">
        <div class="form-group mx-auto">
            <a class="btn btn-warning" asp-action="Index">Back to List</a>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.RecipeId">Edit</a>
        </div>
    </div>
</div>
