@model Easy_Chef.Models.DB.User
<section class="shopping_cart_page">
    <div class="container">
        <div class="row --marginbottom16">
            <div class="col-lg-12 col-md-12 --margintop16">
                <div class="checkout-step mb-40">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="step">
                                    <div class="line"></div>
                                    <div class="circle">1</div>
                                </div>
                                <span>Checkout Type</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/checkout">
                                <div class="step">
                                    <div class="line"></div>
                                    <div class="circle">2</div>
                                </div>
                                <span>Shipping</span>
                            </a>
                        </li>
                        @*<li>
                                <a href="/orderreview">
                                    <div class="step">
                                        <div class="line"></div>
                                        <div class="circle">2</div>
                                    </div>
                                    <span>Order Overview</span>
                                </a>
                            </li>*@
                        <li>
                            <a href="/payment">
                                <div class="step">
                                    <div class="line"></div>
                                    <div class="circle">3</div>
                                </div>
                                <span>Payment</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordercomplete">
                                <div class="step">
                                    <div class="line"></div>
                                    <div class="circle">4</div>
                                </div>
                                <span>Order Complete</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 mx-auto">
                <div class="widget">
                    <div class="section-header section-header-center text-center">
                        <h3 class="heading-design-center-h3">
                            Please fill up your Shipping details
                        </h3>
                    </div>
                    @*<div class="heading-part">
                        <h3 class="sub-heading">Shipping Address</h3>
                    </div>*@
                    <hr>
                    <form id="shippingform">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">First Name <span class="required">*</span></label>
                                    <input class="form-control border-form-control fname" name="fname" placeholder="Enter your name" type="text" value="@Html.DisplayFor(modelItem => modelItem.UserFname)"/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Last Name <span class="required">*</span></label>
                                    <input class="form-control border-form-control lname" name="lname" placeholder="Enter your last name" type="text" value="@Html.DisplayFor(modelItem => modelItem.UserLname)"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Phone <span class="required">*</span></label>
                                    <input class="form-control border-form-control phone" name="phone" maxlength="13" placeholder="Enter phone number" type="text" required value="@Html.DisplayFor(modelItem => modelItem.UserPhone)" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Email <span class="required">*</span></label>
                                    <input class="form-control border-form-control email" name="email" placeholder="Enter your email address" type="email" required value="@Html.DisplayFor(modelItem => modelItem.UserEmail)" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Shipping Address <span class="required">*</span></label>
                                    <textarea class="form-control border-form-control address" name="address" placeholder="Enter street address" required>@Html.DisplayFor(modelItem => modelItem.UserAddress)</textarea>
                                    @*<small class="text-danger">Please provide the number and street.</small>*@
                                    <div class="form-check --margintop8 hide">
                                        <input type="checkbox" class="form-check-input" id="saveinfo">
                                        <label class="form-check-label h--serif saveinfolabel" for="saveinfo">Save information for quick checkout</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="d-flex">
                                    <a href="/cart" class="btn btn-success"><i class="fa fa-angle-left"></i> Back</a>
                                    @*<input class="submit btn btn-success ml-auto" type="submit" onclick="EasyChef.Checkout.performUserDataUpdate();" value="Next" />*@
                                    <a href="#" onclick="EasyChef.Checkout.performUserDataUpdate();" class="btn btn-success ml-auto">Next <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(function () {
        $("input[name='phone']").keyup(function () {
            $(this).val($(this).val().replace(/^(\d{3})(\d{3})(\d)+$/, "($1)$2-$3"));
        });
        $("#shippingform").validate({
            rules: {
                fname: "required",
                lname: "required",
                email: "required",
                address: "required",
                phone:"required"

            },
            
        });
        if (EasyChef.Utility.readCookie(EasyChef.globalVars.authenticationCookieName) != null) {
            $(".form-check").removeClass("hide");
            EasyChef.Checkout.fetchUserData();
        }
    });
</script>
