@model Easy_Chef.Models.DB.Recipe
<!-- Place this tag where you want the share button to render. -->
<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
    (function () {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>
<div class="container recipedetail --margintop16">
    <article class="l--max850">
        <header>
            <div class="row">
                <div class="col-md-10">
                    <h1 class="h--serif size-lg">@Html.DisplayFor(model => model.RecipeName)</h1>
                    <h2 class="h--serif --marginbottom16 --margintop8 shortdescription">@Html.DisplayFor(model => model.ShortDescription)</h2>
                </div>
                <div class="col-md-2 text-center" id="addtocart">
                    <a class="btn btn-success" onclick="EasyChef.Cart.addItem()" href="#">Add to Cart</a>
                </div>
            </div>
            @*<div class="greenbar"></div>*@
            <span class="text-muted price">$@Html.DisplayFor(model => model.Price) per serving</span> | <span class="cuisine text-muted">Cuisine: </span>@Html.DisplayFor(model => model.Cuisine.CuisineName)
        </header>
        <br />
        <div class="row">
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li class="--marginbottom8"><span class="text-muted">Prep & Cook Time:</span> @Html.DisplayFor(model => model.PrepTime)</li>
                    <li class="--marginbottom8"><span class="text-muted">Difficulty Level:</span> @Html.DisplayFor(model => model.DifficultyLevel)</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li class="--marginbottom8"><span class="text-muted">Cook within:</span> @Html.DisplayFor(model => model.CookLimit)</li>
                    <li class="--marginbottom8">
                        <span class="text-muted">Spicy Level:</span> @Html.DisplayFor(model => model.SpiceLevel)
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="social">
                    <span class="google">
                        <g:plusone size="medium" href="http://istm631-001-site1.gtempurl.com/menu/recipes/@Html.DisplayFor(model => model.RecipeId)"></g:plusone>
                    </span>
                    <span class="Facebook">
                        <div class="fb-like" data-href="http://istm631-001-site1.gtempurl.com/menu/recipes/@Html.DisplayFor(model => model.RecipeId)" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                    </span>
                </div>
            </div>
        </div>
        <section class="recipedescmain --margintop16">
            <figure class="mainimage">
                <img src="~/images/recipe/@Html.DisplayFor(model => model.Image2)" />
            </figure>
            <section class="--margintop16">

                <div>
                    <p>@Html.DisplayFor(model => model.LongDescription)</p>

                </div>
                <div class="--margintop8 --marginbottom16">
                    <div style="float:left;">
                        <p class="text-muted" style="margin-right:5px">Created By:</p>
                    </div>
                    <div style="font-weight:400">
                        <p>@Html.DisplayFor(model => model.ChefName)</p>
                    </div>
                </div>

            </section>
            <section class="packagedetail">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="h--serif text-positive recipecontentheader">
                            Your recipe Box
                            <span class="text-muted text-italic"><em>(serves 2)</em></span>
                        </h3>
                        <div class="row">
                            @{
                                var dataArray = Model.BoxContent.Split('|');
                                <div class="col-md-6">
                                    <ul class="list-unstyled">
                                        @for (var i = 0; i < dataArray.Length / 2; i++)
                                        {
                                            <li>@dataArray[i]</li>
                                        }
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-unstyled">

                                        @for (var i = (dataArray.Length / 2); i < dataArray.Length; i++)
                                        {
                                            <li>@dataArray[i]</li>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-4 box--tinted mealnutrition">
                        <div class="--padding32">
                            <ul class="list-unstyled">
                                <li class="--marginbottom16">
                                    <h4 class="size--xs">Nutrition<span class="text-muted text-thin size-mini"><em> (per serving)</em></span></h4>
                                </li>
                                @{
                                    var data = Model.NutritionValue.Split('|');
                                    foreach (var item in data)
                                    {
                                        var itemsplit = item.Split('-');
                                        <li class="--marginbottom16">
                                            <div class="float-left">@itemsplit[0]</div>
                                            <strong class="float-right">@itemsplit[1]</strong>
                                        </li>

                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <div class="row justify-content-center --padding32topbottom">
            <a class="btn btn-success" onclick="EasyChef.Cart.addItem()" href="#">Add to Cart</a>
        </div>
    </article>
    <script>
        //for setting nav active
        EasyChef.Utility.setNavActive("menunav");
    </script>
</div>
