@model Easy_Chef.Models.DB.Recipe
<div class="container recipedetail --margintop16">
    <article class="l--max850">
        <header>
            <div>
                <h1 class="h--serif size-lg">@Html.DisplayFor(model => model.RecipeName)</h1>
                <h2 class="h--serif --marginbottom16 --margintop8 shortdescription">@Html.DisplayFor(model => model.ShortDescription)</h2>
            </div>
            @*<div class="greenbar"></div>*@
            <span class="text-muted price">$@Html.DisplayFor(model=>model.Price) per serving</span>
        </header>
        <br />
        <div class="row">
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li class="--marginbottom8"><span class="text-muted">Prep & Cook Time:</span> @Html.DisplayFor(model => model.PrepTime)</li>
                    <li class="--marginbottom8"><span class="text-muted">Difficulty Level:</span> @Html.DisplayFor(model => model.DifficultyLevel)</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li class="--marginbottom8"><span class="text-muted">Cook within:</span> @Html.DisplayFor(model => model.CookLimit)</li>
                    <li class="--marginbottom8">
                        <span class="text-muted">Spicy Level:</span> @Html.DisplayFor(model => model.SpiceLevel)
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                @*<ul class="list-inline list-unstyled">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="fa fa-twitter fa-lg"></a></li>
                        <li class="list-inline-item"><a href="#" class="fa fa-google fa-lg"></a></li>

                    </ul>*@
            </div>
        </div>
        <section class="recipedescmain --margintop16">
            <figure class="mainimage">
                <img src="~/images/recipe/1_detail_1.jpg" />
            </figure>
            <section class="--margintop16">
                <div class="row">
                    <div class="col-md-2">
                        <figure class="chefimage">
                            <img src="~/images/recipe/1_detail_2.jpg" />
                            <figcaption class="h--serif">@Html.DisplayFor(model => model.ChefName)</figcaption>
                            <div class="group">
                                <div class="greenbar"></div>
                            </div>
                        </figure>
                    </div>
                    <div class="col-md-10">
                        <div class="row recipedesc">
                            <p>@Html.DisplayFor(model => model.LongDescription)</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="packagedetail">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="h--serif text-positive recipecontentheader">
                            Your recipe Box
                            <span class="text-muted text-italic"><em>(serves 2)</em></span>
                        </h3>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li>1 Shallot</li>
                                    <li>8 oz. Green Beans</li>
                                    <li>8 oz. Green Beans</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li>1 Shallot1</li>
                                    <li>8 oz. Green Beans1</li>
                                    <li>8 oz. Green Beans1</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 box--tinted mealnutrition">
                        <div class="--padding32">
                            <ul class="list-unstyled">
                                <li class="--marginbottom16">
                                    <h4 class="size--xs">Nutrition<span class="text-muted text-thin size-mini"><em> (per serving)</em></span></h4>
                                </li>
                                <li class="--marginbottom16">
                                    <div class="float-left">Calories</div>
                                    <strong class="float-right">660</strong>
                                </li>
                                <li class="--marginbottom16">
                                    <div class="float-left">Carbohydrates</div>
                                    <strong class="float-right">49g</strong>
                                </li>
                                <li class="--marginbottom16">
                                    <div class="float-left">Carbohydrates</div>
                                    <strong class="float-right">49g</strong>
                                </li>
                                <li class="--marginbottom16">
                                    <div class="float-left">Carbohydrates</div>
                                    <strong class="float-right">49g</strong>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </section>
        </section>
        <div class="row justify-content-center --padding32topbottom">
            <a class="btn btn-success" onclick="addToCart()" href="#">Add to Cart</a>
        </div>
    </article>
</div>
